extends layout
block content
  link(rel='stylesheet' href='/style/login.css')
  if(success)
    div #{success}
  if(err)
    div#err #{err}
  section#login
    h2 login
    form(method="POST")
      label email
      input(type='text' name='email')
      label password
      input(type='password' name='password')
      input(type='submit' value='login!')
      
    
